*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-family: "Fredoka", sans-serif;
  font-size: 18px;
  color: #5e786b;
  background-color: #f0f0f0
}

/* HEADER */
header {
  background-color: #ddd0d2;
  padding: 30px;
  color: #344f42;
  font-weight: 700;
  text-transform: uppercase;
}

/* GRID */
.grid-container {
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr 1fr;
  width: 750px;
  padding: 60px;
  background-color: #fff;
  border: 3.5px dashed #bda5a9;
  border-radius: 7px;
  gap: 10px;
  margin: 40px auto;
}

.cruelty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f9f8f3;
  padding: 10px;
  border-radius: 7px;
  order: 1;
}

.eco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f9f8f3;
  padding: 20px;
  border-radius: 7px;
  width: 100%;
  height: auto;
  order: 4; 
} 
.ethical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f9f8f3;
  padding: 10px;
  border-radius: 7px;
  order: 5; 
}

/* IMAGES */
.image img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: auto;
  border-radius: 7px;
  margin: 0 auto;
}

.image.one { 
  order: 2;
}

.image.two { 
  order: 3; 
}

.image.three {
  order: 6; 
}

.grid-container a {
  font-weight: 600;
  color: #5e786b;
}

/* STYLING */
h1 {
  letter-spacing: 3.5px;
  margin: 0 2em;
}


h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4em;
  margin-bottom: 15px;
  color: #798b82;
}
