*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* change font */
html {
  font-family: "Fredoka", sans-serif;
  font-size: 18px;
  color: #5e786b;
  background-color: #f0f0f0
}

/* HEADER */
header {
  background-color: #ddd0d2;
  padding: 30px;
  color: #344f42;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  margin: 0 2em;
}

/* GRID */
.grid-container {
  display: grid;
  grid-template: 1fr 1fr 1fr / 2fr 1fr;
  margin: 40px auto 40px;
  width: 700px;
  gap: 50px;
  border: 3.5px dashed #bda5a9;
  border-radius: 7px;
  padding: 40px;
  background-color: #ffffff; 
}

.grid-container a {
  text-decoration: none;
  font-weight: 600;
  color: #bda5a9
}

p {
  color: #6c6c6c
}

.image img {
  width: 300px;
  height: auto;
  border-radius: 7px;
